[submodule "submodules/openemr"]
	path = submodules/openemr
	url = https://github.com/aws-samples/host-openemr-on-aws-fargate.git
[submodule "submodules/synthea"]
	path = submodules/synthea
	url = https://github.com/synthetichealth/synthea
